NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SERVICE_ROLE_KEY=

CARTESIA_API_KEY=
RIME_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_MODEL_ID=eleven_v3
